{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        {% if item.onclick %}
          <a href="#" onclick="{{ item.onclick }}">{{ item.title }}</a>
        {% else %}
          <a href="{{ url }}">{{ item.title }}</a>
        {% endif %}
      </li>
    {% endfor %}
     

  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<!-- Sign In/Sign Up Modal -->
<div id="signInSignUpForm" class="modal">
  <form class="modal-content" id = "signInForm" novalidate>
    <div class="modal-container">
      <span class="modal-close" onclick="closeForm()">&times;</span>
      <h1 style = "text-align: center;">Sign In</h1>
      
      <label class = "aria-label" for="email"><b>Email</b></label>
      <input  type="email" id = "signInEmail" placeholder="Enter Email" name="email" required>

      <label class = "aria-label" for="psw"><b>Password</b></label><br>
      <input  type="text" id = "signInPassword" placeholder="Enter Password" name="psw" required><br>
      
      <br>
      <button type="submit">Sign In</button>
      <button type="submit" onclick="openSignUpForm()">New User Sign Up</button>
      
    </div>
    <p class='error'></p>
  </form>
</div>

<!-- Second Modal: Sign Up Modal -->
<div id="signUpForm" class="modal">
  <div class="modal-content">
    <span class="modal-close" onclick="closeSignUpForm()">&times;</span>
    <h1 style = "text-align: center;">New User Sign Up</h1>
    <form id = "newUserSignUpForm">
      <div class="modal-container">
        
        <label for="email"><b>Email</b></label>
        <input type="email" id = "signUpEmail" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>New Password</b></label>
        <input type="text" id = "signUpPassword" placeholder="Enter New Password" name="psw" required><br>

        <label for="psw-repeat"><b>Confirm New Password</b></label><br>
        <input type="text"  id = "signUpConfirmPassword" placeholder="Confirm New Password" name="psw-repeat" required><br>

        <button type="submit">Sign Up</button>
      </div>
      <p class='error'></p>
    </form>
  </div>
</div>



<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })


  // Get the modal
var modal = document.getElementById("signInSignUpForm");
var mod = document.getElementById("signUpForm");

// Open Sign Up Form
function openSignUpForm() {
  modal.style.display = "none";
  mod.style.display = "block";
}

// Close Sign Up Form
function closeSignUpForm() {
  mod.style.display = "none";
  modal.style.display = "block";
}

// Function to display the modal
function openForm() {
  modal.style.display = "block";
}

// Function to close the modal
function closeForm() {
  modal.style.display = "none";
}


  

</script>