{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        
        <a href="{{ url }}">{{ item.title }}</a>
        
      </li>
    {% endfor %}

    <div class = "logged-in">
      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        <a href="/profile" id = "user-profile">My Account</a>
        <a href="#" onclick = "logOut()">Log Out</a>
      </li>
    </div>
    <div class = "logged-out">
      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        <a href="#" onclick = "openForm()">Sign In</a>
      </li>
    </div>
    
      
    
     

  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<!-- Sign In/Sign Up Modal -->
<div id="signInSignUpForm" class="modal">
  <form class="modal-content" id = "signInForm" novalidate>
    <div class="modal-container">
      <span class="modal-close" onclick="closeForm()">&times;</span>
      <h1 style = "text-align: center;">Sign In</h1>
      
      <label class = "aria-label" for="signInEmail"><b>Email</b></label>
      <input  type="email" id = "signInEmail" placeholder="Enter Email" name="email" required>

      <label class = "aria-label" for="signInPassword"><b>Password</b></label><br>
      <input  type="password" id = "signInPassword" placeholder="Enter Password" name="psw" required><br>
      
      <br>
      <button type="submit" name = "signInButton">Sign In</button>
      <button type="submit" onclick="openSignUpForm()">New User Sign Up</button>
      
    </div>
    <p class='error'></p>
  </form>
</div>

<!-- Second Modal: Sign Up Modal -->
<div id="signUpForm" class="modal">
  <div class="modal-content">
    <span class="modal-close" onclick="closeSignUpForm()">&times;</span>
    <h1 style = "text-align: center;">New User Sign Up</h1>
    <form id = "newUserSignUpForm">
      <div class="modal-container">

        <label for="signUpEmail"><b>Email</b></label>
        <input type="email" id = "signUpEmail" placeholder="Enter Email" name="email" required>

        <label for="signUpPassword"><b>New Password</b></label>
        <input type="password" id = "signUpPassword" placeholder="Enter New Password" name="psw" required><br>

        <label for="signUpConfirmPassword"><b>Confirm New Password</b></label><br>
        <input type="password"  id = "signUpConfirmPassword" placeholder="Confirm New Password" name="psw-repeat" required><br>

        <button type="submit">Sign Up</button>
      </div>
      <p class='error'></p>
    </form>
  </div>
</div>



<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })


  // Get the modal
var modal = document.getElementById("signInSignUpForm");
var mod = document.getElementById("signUpForm");

// Open Sign Up Form
//function openSignUpForm() {
  //modal.style.display = "none";
  //mod.style.display = "block";
//}

window.openSignUpForm = function() {
  modal.style.display = "none";
  mod.style.display = "block";
}
// Close Sign Up Form
function closeSignUpForm() {
  mod.style.display = "none";
  modal.style.display = "block";
}

// Function to display the modal
window.openForm = function() {
  modal.style.display = "block";
}

//function openForm() {
  //modal.style.display = "block";
//}

// Function to close the modal
function closeForm() {
  modal.style.display = "none";
}

window.logOut = function() {
      event.preventDefault(); // Prevent the default link behavior
      
      // Sign out the user from Firebase
      auth.signOut().then(() => {
        console.log(email, 'This user has signed out');
        
        // Redirect the user to the main page
        window.location.href = '/';
      }).catch((error) => {
        console.error('Error signing out:', error);
      });
    };


</script>




<script>
//login
const loginForm = document.querySelector("#signInForm");
if(loginForm){
  console.log("loginForm is not empty");
  loginForm.addEventListener('submit', (e) =>{

    
    e.preventDefault();
    const submitButton = e.submitter;
    if(submitButton.name === "signInButton"){
      console.log("loginForm is being listened");
      //get user info
      const email = loginForm['signInEmail'].value;
      console.log("login form has email", email);
      const password = loginForm['signInPassword'].value;

      auth.signInWithEmailAndPassword(email, password).then(cred => {
          console.log(cred.user);
          loginForm.reset();
          loginForm.querySelector('.error').innerHTML = '';
          location.replace("/")
      }).catch(err => {
          loginForm.querySelector('.error').innerHTML = err.message;
      });

      } 
  });
}



</script>

<script>
  // signup
const usersignupForm = document.querySelector("#newUserSignUpForm");
if(usersignupForm) {
  console.log("usersignUpForm is not empty");
  
  usersignupForm.addEventListener('submit', (e) =>{
    console.log("usersignupForm is being listened")
    e.preventDefault();
    
    // get user info
    
    const email = usersignupForm['signUpEmail'].value;
    const password = usersignupForm['signUpPassword'].value;
    const confirmPassword = usersignupForm['signUpConfirmPassword'].value;

    // sign up the user
    auth.createUserWithEmailAndPassword(email, password).then(cred => {
      var user = cred.user;
      console.log("User signed up:", user);
    }).then(() => {
        // const modal = document.querySelector('#modal-signup');
        // M.Modal.getInstance(modal).close();
        location.replace("https://bokchoyinvest.com")
        usersignupForm.reset();
        usersignupForm.querySelector('.error').innerHTML = 'Successfully created your account, please log-in.';
    }).catch(err => {
        usersignupForm.querySelector('.error').innerHTML = err.message;
    });
  });
}


</script>

<script>
  const authLink = document.getElementById('auth-link');
  auth.onAuthStateChanged((user) => {
  if (user) {
    // User is signed in, see docs for a list of available properties
    // https://firebase.google.com/docs/reference/js/v8/firebase.User
    var uid = user.uid;
    var email = user.email;
    console.log("Signed-in user has email: ", email);
    setupUI(user);
  } else {
    setupUI();
  }
});
</script>

<script>
  const loggedInLinks  = document.querySelectorAll('.logged-in');
  const loggedOutLinks = document.querySelectorAll('.logged-out');
  const setupUI = (user) => {
    if (user) {
      loggedInLinks.forEach(item => item.style.display = 'inline');
      loggedOutLinks.forEach(item => item.style.display = 'none');
    } else {
      loggedInLinks.forEach(item => item.style.display = 'none');
      loggedOutLinks.forEach(item => item.style.display = 'inline');
    }
  }
</script>
