<aside class="aside  typeset  aside--{{ include.align | default: 'right' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      <h4>Contact the Author</h4>
      <br>
      {% include figure.html image="/assets/my_portrait.png" width="150" height="150" %}
      <p>{{ site.description }}</p>
      {% include nav-social.html %} 
      {% include button.html text="Buy Me A ☕️" link="https://www.buymeacoffee.com" %}
      <br>
      <h6>Compose Your Messages Below</h6>
      <br>
      {% include site-form.html %}
    </section>

  {% elsif page.layout == "categories" %}
    <section class="section  section--category-index">
      <h3>Index</h3>
      {% include nav-categories.html %}
    </section>

  {% endif %}

</aside>
